<!DOCTYPE HTML>

<html ng-app="app"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>	  

<head>
	<title>Thymeleaf-ed birds</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body ng-controller="AppController">


<H1>Birds</H1>
 
<div th:each="b: ${birds}">
	<div>
		<b th:text="${b.id}">ID</b> -
		<span th:text="${b.birdName}">Bird Name</span>
	</div>
</div>
 
</body>
</html>