<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/birds.css}" />

<head>
	<title>Thymeleaf-ed birds</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<H1>Birds</H1>
 
<div th:each="b, iterStat: ${birds}" th:class="${iterStat.odd}? 'odd'">
	<div th:object="${b}">
		<b th:text="*{id}">ID</b> -
		<span th:text="*{birdName}">Bird Name</span>
		<span th:if="*{id==3}" th:text="*{birdSize}">Bird Size</span>
	</div>
</div>
 
</body>
</html>